{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if value.nationalNumber is defined and value.countryCode is defined %}
        {% if value.countryCode is not empty and value.nationalNumber is not empty %}
            {# Format international : +indicatif numéro #}
            <span>+{{ value.countryCode }} {{ value.nationalNumber }}</span>
        {% else %}
            {# Si les champs sont vides mais l'objet existe, afficher l'input brut #}
            <span>{{ value.rawInput ?? '' }}</span>
        {% endif %}
    {% else %}
        {# Si la valeur n'est pas un objet PhoneNumber, afficher la valeur telle quelle #}
        <span>{{ value }}</span>
    {% endif %}
{% endblock %}